<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Create your new account</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				
                <label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
                
                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                
                <label for="confirm_password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
				<label for="surname">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="surname" placeholder="Surname" id="surname" required>
                
				<div class="msg">{{ msg }}</div>
				<input type="submit" name="submit" id="submit" value="Create Account"/>
			</form>
		</div>
	</body>
</html>
<!--
<script>
	var check = function() {
		if (document.getElementById('password').value ==
			document.getElementById('confirm_password').value) {
			document.getElementById('message').style.color = 'green';
			document.getElementById('message').innerHTML = 'matching';
		} else {
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'not matching';
		}	
	}


</script>
-->	

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<style>
		#form label{float:left; width:140px;}
		#error_msg{color:red; font-weight:bold;}
</style>

<script>
		$(document).ready(function(){
			var $submitBtn = $("#form input[type='submit']");
			var $passwordBox = $("#password");
			var $confirmBox = $("#confirm_password");
			var $errorMsg =  $('<span id="error_msg">Passwords do not match.</span>');
	
			// This is incase the user hits refresh - some browsers will maintain the disabled state of the button.
			$('#submit').attr({disabled:false});
	
			function checkMatchingPasswords(){
				if($confirmBox.val() != "" && $passwordBox.val != ""){
					if( $confirmBox.val() != $passwordBox.val() ){
						$('#submit').attr({disabled:true});
						$errorMsg.insertAfter($confirmBox);
					}
				}
			}
	
			function resetPasswordError(){
				$('#submit').attr({disabled:false});
				var $errorCont = $("#error_msg");
				if($errorCont.length > 0){
					$errorCont.remove();
				}  
			}
	
	
			$("#confirm_password, #password")
				 .on("keydown", function(e){
					/* only check when the tab or enter keys are pressed
					 * to prevent the method from being called needlessly  */
					if(e.keyCode == 13 || e.keyCode == 9) {
						checkMatchingPasswords();
					}
				 })
				 .on("blur", function(){                    
					// also check when the element looses focus (clicks somewhere else)
					checkMatchingPasswords();
				})
				.on("focus", function(){
					// reset the error message when they go to make a change
					resetPasswordError();
				})
	
		});
</script>
