<!-- SDG_Backend/templates/Core/sponsor_dashboard.html -->

{% extends "base0.html" %}
{% block title %}Sponsor Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Sponsor Dashboard</h1>
                    <h3>We made it here!</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
